body {
    font-family: 'Abel', sans-serif;
    background: #f0f0f0;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.brand-name {font-size: 1.75em;}

nav a {
    font-size: .75em;
    color: black;
}

.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}

nav .nav-item {
    position: relative;
    bottom: 6px;
}

@media screen and (min-width: 992px) {
    .sub-title {text-align: left;}
    hr {width: 100%;}

    .brand-name  {
        position: relative;
        top: 5px;
    }
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
.circle {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 30px;
    color: #FFF;
    background-color: #E6563B;
    text-align: center;
    border: black 4px solid;
}
p{
    font-size: 30px;
}
.container{
    background-color: ;
}